[drone_device]
configDir = "drone-device/"
controller = "[network|gamepad]"

[controller_network]
config = "drone-device/drone-device_net.conf"
targetAdress = "192.168.1.132"
targetPort = 20050
listenAdress = "192.168.1.149"
listenerPort = 20040

[controller_gamepad]
config = "remote-control/remote-control_gamepad.conf"
enable = true


[controller_WEBSERVER]
config = "remote-control/remote-control_webserver.conf"

[controller_GUI]
script = gui
config = "_gui.conf"
enable = false

[gui_simulator]
config = "remote-control/remote-control_gamepad.conf"
enableSimulator = false



